logic_app/WF3-GenerateAVAMTranscriptandAudio/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Duration_in_Seconds": {
        "inputs": {
          "variables": [
            {
              "name": "durationInSeconds",
              "type": "float",
              "value": "@body('Get_Video_Index')?['summarizedInsights']['duration']['seconds']"
            }
          ]
        },
        "runAfter": {
          "Get_Video_Index": [
            "Succeeded"
          ]
        },
        "type": "InitializeVariable"
      },
      "For_each": {
        "actions": {
          "Call_Azure_Function_TranscriptToAudio": {
            "inputs": {
              "body": "@body('Get_Video_Index_-_Get_Language_Transcript')",
              "function": {
                "connectionName": "azureFunctionOperation-6"
              },
              "method": "POST",
              "queries": {
                "language_code": "@body('Parse_current_item_language_setting')?['language-text-code']",
                "language_three_letter_code": "@items('For_each')['language-three-letter-code']",
                "language_voice": "@body('Parse_current_item_language_setting')?['language-voice-name']",
                "video_duration": "@variables('durationInSeconds')",
                "video_id": "@variables('video_id')"
              }
            },
            "runAfter": {
              "Create_blob_(V2)": [
                "Succeeded"
              ]
            },
            "type": "Function"
          },
          "Create_blob_(V2)": {
            "inputs": {
              "body": "@body('Get_Video_Index_-_Get_Language_Transcript')",
              "headers": {
                "ReadFileMetadataFromServer": true
              },
              "host": {
                "connection": {
                  "referenceName": "azureblob"
                }
              },
              "method": "post",
              "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('AccountNameFromSettings'))}/files",
              "queries": {
                "folderPath": "/videodubbing/working-files/",
                "name": "@{variables('video_id')}/@{variables('video_id')}_@{items('For_each')['language-text-code']}_index.json",
                "queryParametersSingleEncoded": true
              }
            },
            "runAfter": {
              "Get_Video_Index_-_Get_Language_Transcript": [
                "Succeeded"
              ]
            },
            "runtimeConfiguration": {
              "contentTransfer": {
                "transferMode": "Chunked"
              }
            },
            "type": "ApiConnection"
          },
          "Get_Video_Index_-_Get_Language_Transcript": {
            "inputs": {
              "host": {
                "connection": {
                  "referenceName": "videoindexer-v2"
                }
              },
              "method": "get",
              "path": "/@{encodeURIComponent(body('Get_AVAM-ACCOUNT-REGION')?['value'])}/Accounts/@{encodeURIComponent(body('Get_AVAM-ACCOUNT-ID')?['value'])}/Videos/@{encodeURIComponent(variables('video_id'))}/Index",
              "queries": {
                "accessToken": "@body('Parse_access_token')?['accessToken']",
                "language": "@body('Parse_current_item_language_setting')?['language-text-code']"
              }
            },
            "runAfter": {
              "Parse_current_item_language_setting": [
                "Succeeded"
              ]
            },
            "type": "ApiConnection"
          },
          "Parse_current_item_language_setting": {
            "inputs": {
              "content": "@items('For_each')",
              "schema": {
                "properties": {
                  "language-display-name": {
                    "type": "string"
                  },
                  "language-text-code": {
                    "type": "string"
                  },
                  "language-three-letter-code": {
                    "type": "string"
                  },
                  "language-voice-code": {
                    "type": "string"
                  },
                  "language-voice-name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "runAfter": {},
            "type": "ParseJson"
          }
        },
        "foreach": "@body('Parse_Language_Settings')",
        "runAfter": {
          "Duration_in_Seconds": [
            "Succeeded"
          ]
        },
        "type": "Foreach"
      },
      "Get_AVAM-ACCOUNT-ID": {
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "keyvault"
            }
          },
          "method": "get",
          "path": "/secrets/@{encodeURIComponent('AVAM-ACCOUNT-ID')}/value"
        },
        "runAfter": {
          "Initialize_variable": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Get_AVAM-ACCOUNT-REGION": {
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "keyvault"
            }
          },
          "method": "get",
          "path": "/secrets/@{encodeURIComponent('AVAM-ACCOUNT-REGION')}/value"
        },
        "runAfter": {
          "Get_AVAM-ACCOUNT-ID": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Get_AVAM_Access_Token": {
        "inputs": {
          "method": "GET",
          "uri": "@body('Get_LOGICAPP-ENDPOINT-GET-AVAM-ACCESS-TOKEN')?['value']"
        },
        "runAfter": {
          "Get_LOGICAPP-ENDPOINT-GET-AVAM-ACCESS-TOKEN": [
            "Succeeded"
          ]
        },
        "type": "Http"
      },
      "Get_LOGICAPP-ENDPOINT-ENCODE-MP3TOAACMP4": {
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "keyvault"
            }
          },
          "method": "get",
          "path": "/secrets/@{encodeURIComponent('LOGICAPP-ENDPOINT-ENCODE-MP3TOAACMP4')}/value"
        },
        "runAfter": {
          "For_each": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Get_LOGICAPP-ENDPOINT-GET-AVAM-ACCESS-TOKEN": {
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "keyvault"
            }
          },
          "method": "get",
          "path": "/secrets/@{encodeURIComponent('LOGICAPP-ENDPOINT-GET-AVAM-ACCESS-TOKEN')}/value"
        },
        "runAfter": {
          "Get_SPEECH-LANGUAGES-CONFIG": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Get_SPEECH-LANGUAGES-CONFIG": {
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "keyvault"
            }
          },
          "method": "get",
          "path": "/secrets/@{encodeURIComponent('SPEECH-LANGUAGES-CONFIG')}/value"
        },
        "runAfter": {
          "Get_AVAM-ACCOUNT-REGION": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Get_Video_Index": {
        "inputs": {
          "host": {
            "connection": {
              "referenceName": "videoindexer-v2"
            }
          },
          "method": "get",
          "path": "/@{encodeURIComponent(body('Get_AVAM-ACCOUNT-REGION')?['value'])}/Accounts/@{encodeURIComponent(body('Get_AVAM-ACCOUNT-ID')?['value'])}/Videos/@{encodeURIComponent(variables('video_id'))}/Index",
          "queries": {
            "accessToken": "@body('Parse_access_token')?['accessToken']"
          }
        },
        "runAfter": {
          "Parse_Language_Settings": [
            "Succeeded"
          ]
        },
        "type": "ApiConnection"
      },
      "Initialize_variable": {
        "inputs": {
          "variables": [
            {
              "name": "video_id",
              "type": "string",
              "value": "@triggerBody()?['video_id']"
            }
          ]
        },
        "runAfter": {},
        "type": "InitializeVariable"
      },
      "Parse_Language_Settings": {
        "inputs": {
          "content": "@body('Get_SPEECH-LANGUAGES-CONFIG')?['value']",
          "schema": {
            "items": {
              "properties": {
                "language-display-name": {
                  "type": "string"
                },
                "language-text-code": {
                  "type": "string"
                },
                "language-three-letter-code": {
                  "type": "string"
                },
                "language-voice-code": {
                  "type": "string"
                },
                "language-voice-name": {
                  "type": "string"
                }
              },
              "required": [
                "language-text-code",
                "language-three-letter-code",
                "language-voice-code",
                "language-voice-name",
                "language-display-name"
              ],
              "type": "object"
            },
            "type": "array"
          }
        },
        "runAfter": {
          "Parse_access_token": [
            "Succeeded"
          ]
        },
        "type": "ParseJson"
      },
      "Parse_access_token": {
        "inputs": {
          "content": "@body('Get_AVAM_Access_Token')",
          "schema": {
            "properties": {
              "accessToken": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {
          "Get_AVAM_Access_Token": [
            "Succeeded"
          ]
        },
        "type": "ParseJson"
      },
      "Trigger_MP3_Encoding": {
        "inputs": {
          "body": {
            "video_id": "@triggerBody()?['video_id']"
          },
          "method": "POST",
          "uri": "@body('Get_LOGICAPP-ENDPOINT-ENCODE-MP3TOAACMP4')?['value']"
        },
        "runAfter": {
          "Get_LOGICAPP-ENDPOINT-ENCODE-MP3TOAACMP4": [
            "Succeeded"
          ]
        },
        "type": "Http"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "manual": {
        "inputs": {
          "method": "POST",
          "schema": {
            "properties": {
              "video_id": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "kind": "Stateful"
}